[Unit]
Description=MQTT to DB Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/sensor-data/mqtt-to-db-sensor-data/mqtt-to-db.py
WorkingDirectory=/home/pi/sensor-data/mqtt-to-db-sensor-data
Restart=always
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
